body {
    font-family: 'Times New Roman', Times, serif;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../images/neo3.png');
    background-position: center;
    filter: brightness(100%);
    z-index: -1;
    pointer-events: none;
    background-size: cover;
}

.main-div {
    font-size: 18px;
    gap: 13px;
    background-color: rgb(247, 255, 247);
    box-shadow: 15px 15px 10px rgb(54, 102, 54);
    padding: 2%;
    border-radius: 15px;
    padding-top: 1%;
    margin-left: 40%;
    margin-top: 3%;
    color: black;
}

.input-field {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
}

.label {
    width: fit-content;
    text-align: left;
    font-size: 20px;
    position: absolute;
    left: 1%;
    top: 0%;
    transition: font-size 0.25s ease-in, transform 0.25s ease-in;
    color: black;
    pointer-events: none;
    font-weight: 500;
    height: 40px;
    align-content: center;
}

.input {
    position: relative;
}

input {
    width: 400px;
    background-color: whitesmoke;
    border: 1.5px solid rgb(202, 202, 202);
    border-radius: 10px;
    color: black;
    padding-left: 1%;
    height: 40px;
}

.placehold {
    height: 20px;
}

.welcome {
    color: black;
    font-weight: 900;
    font-size: 40px;
}

.signin-link,
.signup-link {
    font-size: 20px;
}

a {
    font-weight: 500;
    color: black !important;
}

#sign-up,
#sign-in {
    width: 30%;
    height: 5%;
    font-size: 20px;
}

.successful {
    position: absolute;
    left: calc(50% - 100px);
    text-align: center;
    font-size: 30px;
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
    width: fit-content;
    background-color: rgba(26, 106, 26, 0.7);
    color: white;
    font-weight: 400;
    border-radius: 15px;
    transition: transform 0.3s linear;
}

.error-message {
    width: fit-content;
    margin: auto;
    font-size: 25px;
    background-color: lightpink;
    color: black;
    padding: 0.5%;
    margin-top: 2.5%;
    border-radius: 10px;
    padding-left: 1%;
    padding-right: 1%;
}

.hidden-error {
    display: none;
}

i {
    position: absolute;
    padding: 0px;
    width: 25px;
    height: 42px;
    left: calc(98% - 25px);
    text-align: center;
    align-content: center;
    font-size: 20px;
    cursor: pointer;
}

.hidden-icon {
    display: none;
}

@media screen and (max-width: 700px) {
    .main-div {
        margin: auto;
        width: 90%;
        margin-top: 50%;
        transform: translate(0%, -25%);
    }

    .main-div .input {
        width: 90%;
    }

    .main-div input {
        width: 100%;
        margin: auto;
    }

    .welcome {
        font-size: 30px;
    }
}