.toggle-button {
    background-color: rgb(55, 55, 55);
    color: white;
    border: none;
    width: 13rem;
    padding: 3%;
    padding-left: 7%;
    padding-right: 7%;
    font-size: 16px;
    border-radius: 10px;
    font-weight: 600;
}

.page-toggle-button {
    background-color: rgb(55, 55, 55);
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    width: 35px;
    font-size: 22px;
    text-align: center;
}

.page-toggle-cont {
    display: flex;
    width: fit-content;
    margin: auto;
    margin-bottom: 1%;
    background-color: rgb(55, 55, 55);
    border-radius: 10px;
    margin-top: 1.2rem;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: fit-content;
    max-width: 95%;
}

.selected-button {
    background-color: gray;
}