.media-template {
    margin-top: 0px;
}

.media-image {
    width: 120px;
    height: 180px;
}

.media-title {
    font-size: 16px;
}

.movies {
    gap: 20px;
}

.playlist-name {
    margin: auto;
    margin-bottom: 20px;
    font-size: 35px;
    display: flex;
    width: 95%;
    position: relative;
}

.playlist-btns {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.2rem;
}

.playlist-btns button {
    z-index: 99;
}

.title {
    width: 80%;
    padding: 0px;
    text-align: left;
    border: none;
    outline: none;
    background-color: transparent;
    color: rgb(202, 202, 202);
    transition: border 1s ease-in;
    border-radius: 0px;
    height: 100%;
    padding-bottom: 3px;
    z-index: 99;
}

.title:disabled {
    color: rgb(202, 202, 202);
    background-color: transparent;
    -webkit-text-fill-color: rgb(202, 202, 202);
}

.playlist-btns button:not(#save-name-changes, #delete-selection, #exit-selection) {
    color: rgb(202, 202, 202) !important;
    font-size: 22px;
    background: transparent;
    border: none;
    outline: none;
    width: 33%;
    padding: 0;
}

.playlist-btns button .bi-check2-square {
    font-size: 25px;
}

.before-title {
    position: absolute;
    height: 100%;
    width: 0;
    border-bottom: 2px solid rgb(202, 202, 202);
    transition: width 0.5s ease-in;
}

.editable-name {
    width: 80%;
}

.not-editable-name {
    width: 0;
}

#save-name-changes,
#exit-selection {
    background-color: rgb(202, 202, 202);
    color: black;
}

/* #delete-selection {
    margin-right: 10px;
} */

#save-name-changes:hover {
    background-color: rgb(167, 167, 167);
}

.modal-content {
    color: black;
}

.overlay {
    position: relative;
}

.overlay::before {
    content: '';
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    z-index: 99;
}

.unselected {
    filter: brightness(0.2);
}

.selected {
    filter: brightness(1);
}

.error-message {
    margin-bottom: 20px;
    font-size: 18px;
}

@media screen and (max-width: 700px) {
    .title {
        font-size:28px;
        width: 60% !important;
    }
    .playlist-btns {
        width: 40%;
    }
    .playlist-btns button:not(#save-name-changes, #delete-selection, #exit-selection) {
        font-size: 22px;
        font-size: 18px;
    }
    
    .playlist-btns button .bi-check2-square {
        font-size: 20.5px;
    }
    .editable-name {
        width: 60%;
    }
    #delete-selection, #exit-selection, #save-name-changes {
        font-size: 13px;
    }
    .playlist-name {
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
    }
}

@media screen and (max-width:576px) {

    .media-image,
    .no-media-image {
        height: unset;
        aspect-ratio: 2/3;
        width: 85px;
    }

    .movies {
        row-gap: 17px;
        column-gap: 12px;
    }

    .media-title {
        font-size: 0px;
    }

    .media-title span.delete-icon {
        font-size: 14px;
    }
}