#search-playlist {
    background-color: white;
    color: black;
    border: 2px solid white;
    outline: none;
}

.create-playlist {
    margin-top: 24px;
}

@media screen and (max-width: 700px) {
    .main-div input {
        width: 80%;
        margin: auto;
    }
}