body {
    font-family: var(--bs-body-font-family);
}

i {
    all: unset;
}

#logout,
#delete-acc {
    display: flex;
    gap: 6px;
}

.main-div {
    box-shadow: none;
    background-color: transparent;
    color: rgb(202, 202, 202);
    width: 95%;
    font-size: 18px;
}

.account-func-btns {
    display: inline-flex;
    gap: 20px;
    justify-content: center;
    margin-top: 1.5%;
}

.user-info {
    display: flex;
    flex-wrap: wrap;
}

.movies-watched {
    margin-top: 1.5%;
}

.error-message {
    margin-top: 1%;
}

#delete-account-confirm {
    color: black;
}

.delete-acc-modal-content {
    background-color: rgb(255, 252, 252);
    border-color: black;
}

.information,
.info-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.information {
    width: 65%;
}

.info-btns {
    flex-wrap: wrap;
    flex-grow: 1;
}

.info-btns .btn {
    width: 45%;
}

.info-input {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

input {
    height: 36px;
    /* background-color: rgb(150, 150, 150); */
    border: none;
}

input:disabled {
    background-color: rgb(150, 150, 150);
}

.not-disabled {
    background-color: rgb(224, 224, 224);
}

.user-error-message {
    width: fit-content;
    margin: auto;
    font-size: 25px;
    background-color: lightpink;
    color: black;
    padding: 0.5%;
    margin-top: 2.5%;
    border-radius: 10px;
    padding-left: 1%;
    padding-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 20px;

}

.movie-watched-text {
    font-size: 28px;
    font-weight: 600;
    width: fit-content;
}

.movies {
    justify-content: center;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 10px;
    line-height: 30px;
}

.media-template {
    position: relative;
    width: min-content;
    overflow-wrap: anywhere;
    justify-content: center;
    color: #f0f0f0;
    font-weight: 600;
    cursor: pointer;
    margin-top: 35px;
    cursor: pointer;
}

.media-image {
    width: 80px;
    height: 120px;
    aspect-ratio: 2/3;
    border: 1px solid white;
    border-radius: 10px;
}


.media-title {
    font-size: 0px;
    font-weight: normal;
}

.media-title-hover {
    position: absolute;
    background-color: white;
    border-radius: 5px;
    width: fit-content;
    display: block;
    color: black;
    font-size: 16px;
    font-weight: 600;
    z-index: 99;
    overflow: visible;
    text-align: center;
    background-color: transparent;
    color: white;
}

.hidden {
    display: none;
}

.down-arrow-icon {
    height: min-content;
    padding: unset !important;
    padding: none;
    display: block;
    line-height: 0px;
    margin: 0;
    padding: 0;
}

.no-movies {
    font-size: 25px;
    font-weight: 600px;
    margin-top: 1rem;
}

.playlist {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
}

.playlist-content {
    display: flex;
    flex-direction: row;
    width: fit-content;
    max-width: calc(100% - 94px);
    flex-wrap: nowrap;
    gap: 10px;
    overflow: scroll;
    scroll-margin: 2%;
}

.playlist-content .media-template {
    margin-bottom: 2%;
}

.playlist-content::-webkit-scrollbar {
    width: 0px;
    height: 8px;
}

.playlist-content::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

.playlist-content::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.playlist-content::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.see-more-cont {
    flex: 0 0 fit-content;
    padding-left: 10px;
}

.playlist-content .media-template {
    margin-top: 5px;
}

.playlist-name {
    flex-basis: 100%;
    font-size: 28px;
    font-weight: 600;
    text-align: left;
}

.see-more {
    width: 80px;
    height: 120px;
}

.see-more button {
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: 600;
}

hr {
    margin-bottom: 8px;
}

.see-all-playlists,
.create-playlist {
    color: inherit;
    font-size: 22px;
    display: inline-flex;
    margin: auto;
    gap: 8px;
    align-items: center;
}

.see-all-playlists {
    margin-top: 24px;
}

.create-playlist {
    margin-top: 24px;
}

.see-all-playlists a {
    color: inherit !important;
}

.create-playlist div {
    text-decoration: underline;
    cursor: pointer;
}

.see-all-playlists i,
.create-playlist i {
    line-height: 100%;
    height: min-content;
    margin-top: 0.3rem;
}

.hidden {
    display: none;
}

@media screen and (max-width: 700px) {
    .main-div {
        transform: unset;
    }

    .information {
        width: 100%;
    }

    .user-info {
        row-gap: 1rem;
    }

    .info-input {
        gap: 0.2rem
    }

    .info-btns {
        flex-direction: row;
    }

    .media-template {
        margin-top: unset;
    }

    .movies {
        margin-top: 1rem;
        row-gap: 17px;
        column-gap: 12px;
    }
}