@font-face {
    font-family: logo-font;
    src: url('../font/lato.thin.ttf');
}

.title-bar {
    padding: 0.2rem;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.app-name {
    font-size: 25px;
    overflow-wrap: anywhere;
    font-family: 'logo-font', sans-serif;
    cursor: pointer;
    background-color: #f0f0f0;
    display: flex;
    font-weight: 600;
    padding-right: 0.75rem;
    border-radius: 35px;
}

.app-name img {
    width: 80px;
}

.app-name div {
    align-self: center;
    color: black;
}

.profile-cont {
    font-size: 27px;
    display: flex;
    gap: 12px;
    color: rgb(202, 202, 202);
    justify-content: center;
}

.profile-signin {
    color: rgb(202, 202, 202);
    text-decoration: none;
    border-bottom: 3px solid rgb(202, 202, 202);
    padding-bottom: 0px;
    height: fit-content;
}

.profile-signin:hover {
    color: rgb(202, 202, 202);
    text-decoration: none !important;
}

.profile-cont i {
    font-size: 32px;
}