input {
    width: 300px;
    height: 40px;
    padding-left: 5px;
}

.forms-cont {
    display: flex;
    flex-wrap: wrap;
    width: 850px;
    justify-content: space-evenly;
    gap: 25px;
    margin-top: 1%;
}

.div-with-list {
    margin: 0px;
}

.add-more-inputs,
.remove-inputs {
    width: fit-content;
    height: 40px;
    align-self: center;
    margin: 0px;
}

.bi-plus-circle,
.bi-dash-circle {
    font-size: 18px;
    color: rgb(202, 202, 202);
}

#search-form-1,
#search-form-2,
#search-form-3,
#search-form-4 {
    margin: unset;
    display: inline-flex;
    gap: 0px;
}

.hidden {
    display: none !important;
}

#search-btn {
    margin-top: 1%;
}

#know-them-from {
    font-size: 30px;
    margin-top: 1%;
}

.modal-body {
    border-bottom: 1px solid #dee2e6;
    font-size: 20px;
}

.last-modal-body {
    border-bottom: none;
    font-weight: 700;
    font-size: 25px;
}

.modal-content {
    background-color: #f9faff;
    width: 90%;
    margin: auto;
}

@media screen and (max-width: 868px) {
    #search-form-2 {
        flex-direction: unset;
    }
    .forms-cont {
        width: unset;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    input {
        width: 250px;
    }
    #know-them-from {
        margin-top: 1rem;
    }
    .toggle-buttons-cont {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 700px) {
    input {
        width: 300px;
    }
}

@media screen and (max-width: 400px) {
    .forms-cont {
        width: 95%;
    }
    input {
        width: 250px;
    }
}

@media screen and (max-width: 576px) {
    #know-them-from {
        font-size: 20px;
    }
}