input[type=text] {
    margin-bottom: 0px;
    border-radius: 15px;
    border-width: 1.5px;
    border: none;
    padding-left: 5px;
    padding-right: 5px;
}

input[type=text]:focus {
    border: none !important;
    box-shadow: none;
    outline: none;
}

#search-btn-1,
#search-btn-2 {
    margin-left: 0.3rem;
}

.page-title {
    margin-top: 0%;
}

.media-template {
    border: 1px solid black;
    width: min-content;
    overflow-wrap: anywhere;
    justify-content: center;
    color: #f0f0f0;
    font-weight: 600;
    cursor: pointer;
}

#result,
#watched-result {
    justify-content: center;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 97%;
}

.media-image {
    height: 225px;
    width: 150px;
    border: 1px solid white;
    border-radius: 10px;
}

.no-media-image {
    height: 225px;
    width: 150px;
    border-bottom: solid 1px black;
    border-radius: 10px;
}

.spinner-margin {
    margin: 1%;
}

#error-message {
    margin: auto;
    margin-top: 2%;
    background-color: lightpink;
    width: fit-content;
    padding: 1%;
    border-radius: 5px;
}

.hidden-result {
    display: none !important;
}

#search-actor-name,
#search-character-name,
#search-media-name {
    width: 300px;
}

.forms-cont {
    width: 100%;
    margin: auto;
}

.hidden-form {
    display: none !important;
}

#search-form-1,
#search-form-2 {
    margin: auto;
    position: relative;
    width: fit-content;
    display: flex;
}

.toggle-buttons-cont {
    --width: 0%;
    display: flex;
    position: relative;
    width: fit-content;
    margin: auto;
    margin-bottom: 1%;
    background-color: rgb(55, 55, 55);
    border-radius: 10px;
    margin-top: 1.5rem;
}

#actor-char {
    --left: 0%;
}

#which-media {
    --left: 0%;
}

.toggle-buttons-cont:not(.page-toggle-cont)::before {
    content: '';
    position: absolute;
    --padding: 5;

    top: calc(var(--padding) * 0.5px);
    left: calc(var(--left) + calc(var(--padding) * 0.5px));
    width: calc(var(--width) - calc(var(--padding) * 1px));
    height: calc(100% - calc(var(--padding) * 1px));

    left: var(--left);
    width: var(--width);
    top: 0%;
    height: 100%;
    background: gray;
    transition: all 0.4s;
    transition-timing-function: ease;
    border-radius: 10px;
}

.toggle-button,
.media-toggle-button {
    background-color: rgb(55, 55, 55);
    color: white;
    border: none;
    padding: 3%;
    border-radius: 10px;
    font-weight: 600;
    font-size: 13px;
    width: 9rem;
    background: transparent;
    flex: 1;
    position: relative;
}

.page-toggle-button {
    background-color: rgb(55, 55, 55);
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    width: 35px;
    font-size: 22px;
    text-align: center;
}

.page-toggle-cont {
    margin-top: 1.2rem;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: fit-content;
    max-width: 95%;
}

.selected-button {
    background-color: gray;
}

.option-list {
    position: absolute;
    top: calc(100% + 4px);
    width: 300px;
    z-index: 999;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 1px;
}

.option {
    border: 1px solid black;
    padding: 8px;
    cursor: pointer;
    display: inline-flex;
    width: 100%;
    border-radius: 12.5px;
    background-color: rgb(224, 224, 224);
    font-size: 17px;
    font-weight: 600;
}

.option-image-div {
    width: 20%;
}

.option-title-div {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option-image {
    width: 100%;
    height: 100%;
    aspect-ratio: 2/3;
}

#result,
#watched-result {
    margin-top: 1%;
}

.option:hover {
    background-color: #f0f0f0;
}

.div-with-list {
    position: relative;
    display: flex;
}

#search-form-2 {
    gap: 7px;
}

#in {
    align-self: center;
    color: white;
}

.modal-body-for-movie {
    padding: 16px;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../images/collage.jpg");
    background-position: center;
    filter: brightness(12%);
    z-index: -1;
    pointer-events: none;
    background-size: cover;
}

#know-them-from {
    font-size: 40px;
    font-weight: 700;
    color: white;
    text-align: center;
    width: 97%;
    margin: auto;
}

.actor-info-div {
    background-color: rgb(212, 212, 212);
    width: 70%;
    margin: auto;
    padding: 1%;
    border-radius: 15px;
    margin-top: 1rem;
    display: flex;
    gap: 0.7rem;
    margin-bottom: 1rem;
}

.hidden-info-div {
    display: none;
}

.profile-image {
    border-radius: 5px;
    width: 150px;
    border: 1px solid black;
}

.this-is {
    height: 225px;
    overflow: hidden;
    position: relative;
}

.actor-bio {
    font-size: 16px;
    font-weight: 400;
    text-align: left !important;
    line-height: normal;
    white-space: pre-wrap;
}

.actor-name {
    font-size: 25px;
    font-weight: 500;
}

.read-more {
    position: absolute;
    top: calc(100% - 22px);
    right: 0;
    width: 100%;
    text-align: right;
    z-index: 199;
    background-image: linear-gradient(to right, rgba(212, 212, 212, 0.8), rgba(212, 212, 212, 1));
    background-image: linear-gradient(to bottom, rgba(212, 212, 212, 0.8), rgba(212, 212, 212, 1));
    font-size: 16px;
    font-weight: 500;
    color: blue;
    cursor: pointer;
}

.actor-modal-body {
    border-bottom: 1px solid black;
}

.actor-modal-info {
    white-space: pre-wrap;
    text-align: left;
}

.modal-content {
    border-radius: 25px;
}

.character-modal-content {
    background-color: #f9faff;
    width: 90%;
    margin: auto;
}

.actor-modal-content {
    background-color: rgb(212, 212, 212);
}

.actor-modal-header {
    border-bottom: 1px solid black;
}

.actor-modal-image {
    width: 200px;
    border-radius: 15px;
    float: left;
    margin-right: 1.2rem;
}

.actor-modal-info {
    font-size: 17px;
}

body {
    background-color: black;
}

.spinner-border {
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 3%;
}

.hidden-spinner {
    display: none;
}

.no-watched-movies {
    font-size: 30px;
    color: rgb(202, 202, 202);
    font-weight: 600;
}

@media screen and (max-width:768px) {
    .toggle-buttons-cont {
        margin-bottom: 1rem;
    }

    #search-form-2 {
        flex-direction: column;
    }

    #search-form-2 input {
        height: 40px;
        margin: auto;
    }

    .profile-image {
        aspect-ratio: 2/3 !important;
        height: 150px;
    }

    .actor-info-div {
        width: 80%;
        height: calc(150px + 2%);
    }

    .this-is {
        height: 150px;
    }

    .actor-name {
        font-size: 20px;
    }

    .actor-bio {
        font-size: 12px;
        font-weight: normal;
    }

    #know-them-from {
        font-size: 25px;
    }

    .actor-modal-content {
        width: 80%;
        margin: auto;
        max-height: 75% !important;
    }

    .actor-modal-image {
        width: 130px;
    }

    .actor-modal-info {
        font-size: 14px;
    }
}

@media screen and (max-width:576px) {

    .media-image,
    .no-media-image {
        height: unset;
        aspect-ratio: 2/3;
        width: 85px;
    }

    #result,
    #watched-result {
        column-gap: 12px;
        row-gap: 17px;
    }

    .media-title {
        font-size: 0px;
    }
}